*{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: MorabbaVF;
    direction: rtl;
    min-height: 100vh;
    background: url(mw.jpg)center center no-repeat;
    background-size: cover;
}


.container{
    width: 860px;
    margin: 0 auto;
    padding-top: 120px;
}

.login-box{
    height: 600px;
    border-radius: 40px;
background-color: rgb(241, 229, 229);
box-shadow: rgba red 0 0 0 10px;
overflow: hidden;
}
.login-form{
    float: right;
    width: 50%;
    padding: 100px 0;
}

.login-img{
    width: 400px;
height: 900px;
    

    float: left;
margin: 20px 20px 30px 10px;
}

.login-img img {
width: 200%;
width: 100%;
object-fit: cover;
}
.login-logo{
    margin-bottom: 0px;
}

.login-logo img{
display: block;
margin: 10 auto 15px;
}
.form-control{
    width: 250px;
    margin: 0 auto;
}
.form-control label{
    display: block;
    margin: 10px;
    font-size: 18px;
    color: #090505;

}
.form-control input{
    border: 1px solid #d9e3ed;
    padding: 10px;
    border-radius: 10px;
    display: block;
    font-family: inherit;
    width: 100%;
    transition: .3s all;
}

.form-control input:focus {
    border-color: #774bb7;
    box-shadow: #5f3a96 0 0 0 5px;
    transition: .3s all;
    outline: none;
    
}

.form-control input::placeholder{
    color: #09111a;
    font-weight: 300;
    font-size: 16px;

}

.login-btn{
    margin-top: 30px;
}
.login-btn button{
    font-family: inherit;
    border-radius: 100px;
    background-color: #774bb7;
    border: none;
    color: white;
    padding: 10px;
    display: block;
    width: 250px;
    margin: 0 auto;
font-size: 16px;
cursor: pointer;
transition: .3s all;
}


.login-btn button:hover{

background-color: #4a2b77;
transition: .3s all;

}

.forget-password{
    text-align: center;
    margin-top: 50px;
    transition: .3s all;
}
.forget-password a{
    font-size: 14px;
    font-weight: 300;
    color: #acacac;
    text-decoration: none;
}

.forget-password a:hover{
    color: #777777;
    text-decoration: underline;
    transition: .3s all;
}